* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
header {
  background-color: white;
  height: 12vh;
  position: fixed;
  width: 100%;
  z-index: 1001;
}
nav {
  /* position: relative; */
  display: flex;
  width: 95%;
  gap: 30px;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}
nav img {
  margin-bottom: 30px;
  width: 120px;
}
.links {
  display: flex;
  gap: 60px;
}
.links li {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 70px;
  color: rgb(24, 25, 31);
}
.nav-bttn {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.login-bttn button {
  padding: 5px 12px;
  border-radius: 15px;
  width: 100px;
  border: none;
  background-color: #6f06c0;
}
.nigeria {
  background-color: white;
}
.nigeria img {
  display: none;
}
.login-bttn a {
  color: white;
}
.list-icon {
  display: none;
}
.country-bttn button {
  border-radius: 30px;
  background-color: rgb(224, 224, 224);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  width: 150px;
  position: relative;
  height: 35px;
  align-items: center;
  border: none;
}
button p {
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 70px;
  color: rgb(32, 32, 70);
}
.country-bttn button img {
  width: 20px;
  position: absolute;
  top: 11px;
  left: 9px;
}
.country-bttn a {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 520;
  color: rgb(32, 32, 70);
}
.company-drop {
  position: relative;
  height: 100px;
}
.dropdown-company {
  position: absolute;
  opacity: 0;
  top: 75px;
  visibility: hidden;
  width: 160px;
  height: 180px;
  border-radius: 20px;
  padding: 15px 0 0 20px;
  line-height: 30px;
  background-color: white;
}
.dropdown-company p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  color: rgb(24, 25, 31);
}
.company-drop:hover .dropdown-company {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.dropdown-personal {
  position: absolute;
  opacity: 0;
  top: 75px;
  visibility: hidden;
  width: 100%;
  left: 0;
  height: 250px;
  background-color: white;
  border-top: 2px black;
}
.personal-drop:hover .dropdown-personal {
  opacity: 1;
  visibility: visible;
}
.fir-st {
  width: 90%;
  margin: auto;
  gap: 60px;
  padding-top: 50px;
  display: flex;
}
.for-you h4 {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  color: rgb(24, 25, 31);
  width: 150px;
}
.for-you p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: rgb(111, 123, 133);
  width: 190px;
  margin-top: 20px;
}
.palm-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  width: 500px;
}
.palm-1 h3 {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  color: rgb(24, 25, 31);
  /* width: 150px; */
}
.palm-1 h2 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: rgb(111, 123, 133);
  width: 190px;
}

.first-img {
  display: grid;
  margin-left: 200px;
}
.first-img img{
  width: 150px;
  /* height: 100px; */
}


/* spcial border */
.company-drop h6 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 70px;
  color: black;
}
.company-drop h6:hover {
  border-bottom: 5px solid blue;
  border-radius: 3px;
}
.personal-drop h6 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 70px;
  color: black;
}
.personal-drop h6:hover {
  border-bottom: 5px solid blue;
  border-radius: 3px;
  z-index: 1;
}
.business-drop h6 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 70px;
  color: black;
}
.business-drop h6:hover {
  border-bottom: 5px solid blue;
  border-radius: 3px;
}
.imp-act h6 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 70px;
  color: black;
}
.imp-act h6:hover {
  border-bottom: 5px solid blue;
  border-radius: 3px;
}
.newsroom-drop h6 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 70px;
  color: black;
}
.newsroom-drop h6:hover {
  border-bottom: 5px solid blue;
  border-radius: 3px;
}

/* special border close */


.dropdown-business {
  position: absolute;
  opacity: 0;
  top: 75px;
  visibility: hidden;
  width: 100%;
  left: 0;
  height: 370px;
  background-color: white;
}
.business-drop:hover .dropdown-business {
  opacity: 1;
  visibility: visible;
}
.sec-ond {
  width: 90%;
  margin: auto;
  padding-top: 10px;
}
.sec-ond h1 {
  font-family: Poppins, sans-serif;
  font-size: 23px;
  font-weight: 600;
  line-height: normal;
  color: rgb(32, 32, 70);
}
.sec-ond p {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: rgb(111, 123, 133);
  margin-top: 10px;
}
.sec-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.sec-grid h2 {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: rgb(32, 32, 70);
  margin-top: 30px;
}

.dropdown-newsroom {
  position: absolute;
  opacity: 0;
  top: 75px;
  visibility: hidden;
  width: 192px;
  height: 140px;
  border-radius: 20px;
  padding: 15px 0 0 20px;
  line-height: 30px;
  background-color: white;
}
.newsroom-drop:hover .dropdown-newsroom {
  opacity: 1;
  visibility: visible;
}

.dropdown-newsroom p {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  color: rgb(24, 25, 31);
  padding-left: 15px;
}
.dropdown-bttn {
  position: absolute;
  opacity: 0;
  top: 75px;
  visibility: hidden;
  width: 200px;
  height: 340px;
  border-radius: 20px;
  padding: 15px 0 0 20px;
  line-height: 30px;
  background-color: rgb(13, 1, 1);
}
button:hover .dropdown-bttn {
  opacity: 1;
  visibility: visible;
}
/* second section */
.first-sec {
  /* margin-top: 40px; */
  padding-top: 120px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 123vh; */
  background-color: #eee6ff;
}
.all-first {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-txt h1 {
  font-family: Poppins, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  color: rgb(73, 1, 129);
  width: 500px;
  margin-top: 30px;
}
.first-txt p {
  font-family: Poppins, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 28.5px;
  color: rgb(73, 1, 129);
  width: 400px;
  margin-top: 30px;
}
.firrst-img img {
  width: 500px;
  margin-left: -150px;
}
/* seconde section */
.hand-sec {
  width: 100%;
  background-color: #8f00ff;
  /* height: 100vh; */
}
.all-hand {
  width: 90%;
  /* margin: auto; */
  display: flex;
  justify-content: space-around;
}
.hand-img img {
  width: 400px;
  padding-top: 70px;
}
.hand-p p {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.6px;
  color: rgb(255, 255, 255);
  width: 600px;
  padding-bottom: 30px;
}
.hand-p {
  margin-top: 70px;
}
/*  third section */
.vision-sec {
  width: 90%;
  margin: auto;
  background-color: #f8f8ff;
  border-radius: 29px;
  margin-top: 70px;
}
.all-vision {
  width: 95%;
  margin: auto;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.vision-txt h1 {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: rgb(73, 1, 129);
  width: 450px;
  padding-top: 150px;
}
.vision-img {
  position: relative;
}
.adv-ert {
  width: 550px;
  padding-top: 20px;
}
.pause-bttn {
  position: absolute;
  width: 30%;
  right: 10%;
  top: 30%;
}
.pause-bttn:hover {
  transform: scale(1.3);
  transition: ease-in-out 0.3s;
}
/* fourth section */
.proven-sec {
  background-color: #f8f8ff;
  width: 100%;
  margin-top: 55px;
}
.proven-all {
  width: 100%;
  /* margin: auto; */
  padding-bottom: 100px;
}
.proven-all h2 {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  color: rgb(73, 1, 129);
  text-align: center;
  padding-top: 60px;
}
.proven-boxes {
  display: flex;
  justify-content: space-evenly;
}
.prov-box h3 {
  font-family: Poppins, sans-serif;
  font-size: 27px;
  font-weight: 500;
  line-height: normal;
  color: rgb(73, 1, 129);
  text-align: center;
  margin-top: 50px;
}
.prov-box h1 {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  color: rgb(73, 1, 129);
}
.prov-box img {
  width: 100px;
  margin-left: 60px;
  margin-top: 40px;
}
/* fourth section */
.map {
  width: 90%;
  /* margin: auto; */
  margin-top: 100px;
}
.all-map {
  width: 90%;
  margin: auto;
  display: flex;
  /* margin-top: 110px; */
  padding-bottom: 30px;
}
.map-txt h1 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  color: rgb(73, 1, 129);
}
.map-txt p {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
  color: rgb(73, 1, 129);
  width: 640px;
  padding-top: 30px;
}
.li-sec li {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
  color: rgb(73, 1, 129);
  width: 640px;
  list-style-type: circle;
  margin-left: 15px;
}
.li-sec {
  margin-top: 30px;
}
.map-img img {
  width: 500px;
}
/* fifth section */
.fastest {
  background-color: #f8f8ff;
  width: 100%;
}
.all-fastest h1 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  color: rgb(73, 1, 129);
  text-align: center;
  padding-top: 70px;
}
.all-fastest p {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  color: rgb(73, 1, 129);
  text-align: center;
  margin: auto;
  /* width: 90%; */
  padding-top: 20px;
}
.fast-boxes {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 60px;
}
.fast-box img {
  width: 300px;
}
.fast-box p {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.8px;
  color: rgb(0, 0, 0);
  width: 250px;
  text-align: center;
}
/* seventh section */
.driving-sec {
  width: 100%;
  background-color: #490181;
}
.all-driving {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  /* padding: auto; */
  padding: 38px 0px 38px 0px;
}
.all-driving h1 {
  font-family: Poppins, sans-serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 59.4px;
  color: rgb(255, 255, 255);
  width: 400px;
  padding-top: 30px;
}
.all-driving p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  width: 620px;
  padding-top: 30px;
}
/* eight section */
.all-inclusion {
  width: 90%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 50px;
}
.inclusion-txt-img {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}
.all-inclusion h1 {
  font-family: Poppins, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  color: rgb(73, 1, 129);
  text-align: center;
}
.inclusion-txt p {
  font-family: Poppins, sans-serif;
  font-size: 19px;
  font-weight: 100;
  line-height: 23.4px;
  color: rgb(73, 1, 129);
  width: 630px;
}
.new-inclu-txt {
  margin-top: 90px;
}
.new-inclu-txt h2 {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  color: rgb(73, 1, 129);
  padding-top: 30px;
}
.inclusion-img img {
  width: 400px;
  border-radius: 30px;
}
/* ninith section */
.impact-section {
  width: 100%;
  background-color: #f8f8ff;
}
.all-impact {
  width: 80%;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 50px;
}
.all-impact h2 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  color: rgb(73, 1, 129);
  text-align: center;
}
.impact-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 55px;
}
.imp-box h1 {
  font-family: Poppins, sans-serif;
  font-size: 43px;
  font-weight: 700;
  line-height: normal;
  color: rgb(73, 1, 129);
  text-align: center;
}
.imp-box p {
  width: 150px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  color: rgb(73, 1, 129);
}
/* tenth section */
.value-sec {
  background-image: url(../MULTIMEDIA/ValueIconBG4a738c14-5463-4d.png);
  width: 100%;
}
.all-value {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
}
.all-value h1 {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: normal;
  color: rgb(255, 255, 255);
}
.value-boxx p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 20px;
  width: 220px;
  margin: auto;
}
.value-boxx h2 {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  color: rgb(255, 255, 255);
  text-align: center;
}
.value-boxes {
  display: grid;
  grid-template-columns: auto auto auto;
  /* width: 100%; */
  gap: 20px;
  margin: auto;
}
.value-boxx {
  justify-content: right;
  margin-top: 40px;
  /* background-color: yellow; */
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 250px;
}
.logo-h2 img {
  width: 100px;
  margin-left: 90px;
  /* padding-left: 70px; */
  height: auto;
}
/* support section */
.all-support {
  padding-top: 50px;
  width: 90%;
  padding-bottom: 50px;
  margin: auto;
}
.all-support h1 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  color: rgb(73, 1, 129);
  text-align: center;
  width: 600px;
  margin: auto;
}
.all-img {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.all-img img {
  width: 300px;
}
/* 12 section */
.news-sec {
  background-color: #8700f2;
  padding-top: 50px;
  /* height: 99vh; */
}
.all-news {
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
}
.all-news h1 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
}
.alllllll {
  width: 80%;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.all-p-news p{
  width: 100%;
  height: auto;
}
.alllllll p {
  font-family: Poppins, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 46.8px;
  height: auto;
  color: rgb(255, 255, 255);
}
.alllllll img {
  width: 200px;
}
.bttn-news{
  margin-top: 40px;
  margin-bottom: 40px;
}
.bttn-news a {
  padding: 18px 60px;
  border-radius: 20px;
  background-color: #490181;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  color: rgb(255, 255, 255);
}
.bttn-news a:hover{
  background-color: rgb(114, 114, 185);
  transition: ease-in-out 0.5s;
}
/* secon to the last section */
/* million section */
.million {
  background-color: rgb(3, 3, 40);
  /* height: 21vh; */
}
.million-all {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.million h1 {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 120px;
  color: rgb(255, 255, 255);
}
.million-img {
  display: flex;
  align-items: center;
  gap: 20px;
}
.million-img img {
  width: 150px;
}
/* footer section */
footer {
  /* height: 120vh; */
  background-color: black;
}
.footer-all {
  width: 90%;
  margin: auto;
  gap: 50px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.footer-box {
  width: 200px;
  /* background-color: #ffb800; */
}
.footer-box img {
  width: 130px;
}
.footer-logo {
  margin-top: 20px;
}
.footer-logo img {
  width: 170px;
  padding-bottom: 15px;
}
.footer-box h3 {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(255, 255, 255);
}
.footer-p p {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(217, 219, 225);
}
.footer-p {
  margin-top: 20px;
}
.all-rights {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.all-rights p {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(217, 219, 225);
}
.all-rights img {
  width: 20px;
}
.last-part {
  border-top: 2px solid #262626;
  margin-top: 40px;
}
.last-part p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.22px;
  color: rgba(255, 255, 255, 0.3);
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

















@media (max-width: 900px) {
  header {
    padding: 15px 0;
    background-attachment: scroll;
  }
  /* Hide desktop links */
  .links {
    display: none;
  }

  .country-bttn button {
    display: none;
  }
  .country-bttn button img {
    position: static;
    width: 24px;
  }

  nav {
    gap: 10px;
    justify-content: space-between;
    width: 92%;
  }

  nav img {
    width: 100px;
    margin-bottom: 30px;
  }
  .nav-bttn {
    gap: 10px;
  }
  .list-icon {
    display: block;
    font-size: 1.3rem;
  }
  .nigeria {
    background-color: rgb(217, 215, 215);
  }
  .nigeria img {
    /* background-color: rgb(216, 21, 21); */
    display: block;
  }
}
@media (max-width:475px) {
  .all-p-news{
    width: 300px;
  }
}
@media(max-width: 769px) {
  .login-bttn {
    display: none;
  }
  .first-sec {
    width: 100%;
  }
  .all-first {
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .first-txt {
    width: 100%;
    margin: auto;
  }
  .first-txt h1 {
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    margin-top: -20px;
  }
  .first-txt p {
    max-width: 300px;
    width: 90%;
    padding-top: 35px;
    line-height: 19px;
    margin: auto;
    font-size: 15px;
    text-align: center;
  }
  .first-img img {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-top: 20px;
  }
  /*  uibhibcehbdchbhbd */
  .all-hand {
    width: 100%;
    margin: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .hand-img img {
    max-width: 90%;
    height: auto;
  }
  .hand-p {
  }
  .hand-p p {
    width: 90%;
    max-width: 500p;
    margin: auto;
    height: auto;
  }
  .all-vision {
    margin: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .vision-img img {
    width: 100%;
    height: auto;
  }
  .vision-img a img {
    width: 30%;
    height: auto;
  }
  .vision-txt h1 {
    width: 100%;
    height: auto;
  }
  /* fourth section */
  ..proven-all {
    margin: auto;
    width: 100%;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    /* padding-bottom: -1000px; */
    justify-content: center;
    align-items: center;
  }
  .proven-boxes {
    width: 100%;
    flex-direction: column;
    text-align: left;
    /* padding-top: 20px; */
    /* padding-bottom: -10px; */
  }
  .proven-all h2 {
    font-size: 28px;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .proven-boxes h1 {
    font-size: 18px;
  }
  .proven-boxes h3 {
    font-size: 20px;
    text-align: left;
    margin-top: 1px;
  }
  .prov-box h1 {
    font-size: 27px;
  }
  .prov-box img {
    width: 30px;
    margin-top: 10px;
    margin-left: 1px;
  }
  .prov-box {
    width: 85%;
    margin: auto;
    height: auto;
    justify-content: left;
  }
  .proven-sec {
    height: 45vh;
  }
  /* fourth section */
  .all-map {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .map-txt {
    width: 90%;
    margin: auto;
  }
  .all-map img {
    width: 80%;
    height: auto;
  }
  .map-txt p {
    height: auto;
    width: 100%;
    font-size: 14px;
    /* text-align: center; */
    /* margin: auto; */
  }
  .li-sec li {
    width: 100%;
    /* text-align: center; */
    font-size: 13px;
    height: auto;
  }
  /* sixth section */
  .fast-boxes {
    width: 90%;
    height: auto;
    margin: auto;
    gap: 20px;
    flex-direction: column;
  }
  .fast-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  .fast-box img {
    width: 90px;
    height: 20px;
  }
  .fast-box p {
    font-size: 11px;
    width: 10px;
  }
  .all-fastest p {
    width: 90%;
    text-align: left;
    height: auto;
    margin: auto;
  }
  .all-fastest h1 {
    display: none;
  }
  /* seventh section */
  .all-driving {
    flex-direction: column;
    padding: 15pt 0px 15px 0px;
  }
  .all-driving h1 {
    font-size: 20px;
    padding-top: 0px;
    height: auto;
    width: 100%;
    line-height: 20px;
  }
  .all-driving p {
    font-size: 11px;
    height: auto;
    width: 100%;
  }
  /* eight section */
  .all-inclusion {
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
  .inclusion-txt-img {
    flex-direction: column;
    margin-top: 20px;
  }
  .all-inclusion h1 {
    font-size: 20px;
    text-align: center;
    height: auto;
    width: 100%;
  }
  .inclusion-txt p {
    width: 95%;
    height: auto;
    font-size: 12px;
  }
  .new-inclu-txt h2 {
    width: 100%;
    height: auto;
    width: auto;
    font-size: 15px;
  }
  .new-inclu-txt {
    margin-top: 1px;
  }
  .inclusion-img img {
    max-width: 300px;
    width: 60%;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
  }
  /* ninth section */
  .all-impact {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .impact-boxes {
    flex-direction: column;
    gap: 20px;
  }
  .imp-box h1 {
    text-align: left;
    width: 100%;
    height: auto;
  }
  .imp-box p {
    width: 1005;
    height: auto;
    gap: 1px;
    text-align: left;
    font-size: 21px;
    font-weight: 500;
  }
  /* value section */
  .value-sec {
    /* display: none; */
  }
  .value-boxes {
    grid-template-columns: auto;
  }
  .logo-h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .logo-h2 img {
    margin-left: 1px;
    width: 60px;
    height: auto;
  }
  .logo-h2 h2 {
    height: auto;
    width: 100%;
    font-size: 18px;
    text-align: left;
    padding-top: -100px;
    /* margin-top: -100px; */
  }
  .value-boxx {
    width: 100%;
    height: auto;
  }
  .value-boxx p {
    /* max-width: 900px; */
    /* width: auto; */
    text-align: left;
    height: auto;
  }
  .all-support {
    width: 100%;
    height: auto;
  }
  .all-support h1 {
    width: 100%;
    text-align: center;
    height: auto;
  }
  .all-img {
    flex-direction: column;
    margin: auto;
    width: auto;
    gap: 10px;
    padding-top: 40px;
    /* max-width: 50%; */
    /* width: 100; */
  }
  .all-img img {
    width: 200px;
    height: auto;
  }
  .alllllll{
    flex-direction: column;
    gap: 20px;
  }
  .row-1-news{
    width: 100%;
    height: auto;
  }
  .all-p-news{
    /* display: flex; */
    width: 100%;
    height: auto;
    flex-direction: row;
    /* align-items: center; */
    gap: 0px;
  }
  .all-p-news p{
    font-size: 11px;
    width: 100%;
    margin: auto;
    height: auto;
    font-size: 18px;
    line-height: 30px;
  }
  .bttn-news{
    width: 100%;
    height: auto;
    margin: auto;
  }
  .bttn-news a{
    width: 100%;
    height: auto;
    padding: auto;
    margin: auto;
    font-size: 11px;
  }
  .million-all{
    flex-direction: column;
    padding-bottom: 20px;
  }
  .million-all h1{
    line-height: 40px;
  }
  .million-img img{
    width: 100px;
    height: auto;
    justify-content: left;
    text-align: left;
  }
  footer{
    position: absolute;
    width: 100%;
    margin-top: 80px;
    margin: auto;
    height: 180vh;
  }
  .footer-all{
    display: block;
  }
  .footer-logo{
    display: grid;
  }
  .footer-box{
    border-top: 1px solid;
  }
  .footer-box h3{
    margin-top: 40px;
  }
  .footer-box{
    width: 100%;
    border-top: 2px solid #262626;
  }
  .all-rights{
    border-top: 2px solid #262626;
    width: 100%;
  }
  .all-rights p{
    margin-top: 20px;
  }
  .small-logoo{
    margin-top: 20px;
  }
}
@media (max-width:1200px) {
  header{
    /* display: none; */
  }
}
